<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="alglib.net" version="3.18.2" targetFramework="net48" />
  <package id="C1.Xaml.WPF" version="4.6.20221.765" targetFramework="net48" />
  <package id="C1.Xaml.WPF.DX" version="4.6.20221.765" targetFramework="net48" />
  <package id="C1.Xaml.WPF.FlexChart" version="4.6.20221.765" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
</packages>